body{
  margin: 0;
  background-color: rgb(174, 180, 180);
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b3b9b9;
  
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 16px;
}

ul span a {
  display: block;
  color: rgba(255, 255, 255, 0.562);
  text-align: center;
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #6d6c6c;
}

div {
  color: rgb(94, 94, 119);
  margin-top: 300px;
  margin-left: 25%;
  text-align: center;
  display: inline-flex;
}

div a {
  border: solid black 2px;
  padding: 1px 10px 1px 10px;
  margin-left: 75px;
  text-decoration: none;
  color: #383333;
}

div a:hover {
  background-color: #6d6c6c;
}

