body{
  margin: 0;
  background-color: hsla(220, 24%, 17%, 0.993);

}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 15%, 0.568);

}

ul li {
  float: right;
}

ul li a {
  display: block;
  padding: 19px 5px;
  height: 13px;
  
}

ul span a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px 16px 16px 130px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #6d6c6c;
}

#contant {
  color: rgb(255, 255, 255);
  margin-top: 250px;
  margin-left: 25px;
  text-align: center;

}

#contant a {
  border: solid rgb(255, 255, 255) 2px;
  padding: 1px 30px 1px 30px;
  margin-left: 90px;
  text-decoration: none;
  color: #a0aaa6;
  cursor: pointer;
}

div a:hover {
  background-color: #6d6c6c;
}

#contant{
  display: block;
}
#TLROOM , #CLROOM{
  display:none;
}

#TLROOM h1 , #CLROOM h1{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;

}
table{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-spacing: 10px;
  color: #ffffff;
  text-decoration: none;
} 

table a{
  color: #ffffff;
  text-decoration: none;
}

table td{
  border: solid rgb(255, 255, 255) 1px;
}

#Back-Button{
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  cursor: pointer;

}

#texth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

}
#texth img{
    position: absolute;
    left: 0;

}
#texth h1{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;

}
